<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark" />
    <title>Elementary Cellular Automata</title>
  </head>
  <body>
    <section
      id="content"
      class="d-f f-direction-column f-grow-1 f-align-center f-justify-center"
    >
      <canvas
        id="canvas"
        class="border cursor-pointer"
        onclick="app.generate()"
      >
        Your browser doesn't support canvas
      </canvas>
      <div>
        <p class="text--small">Tap, click or refresh to update</p>
      </div>
      <button id="toggle-settings" onclick="app.handleToggleSettings()">
        Settings
      </button>
    </section>

    <section id="settings" class="d-n">
      <form id="settings-form" class="d-f f-grow-1 f-justify-evenly f-wrap">
        <div class="settings-section">
          <h3>Automata</h3>
          <div class="form-field">
            <label for="automata.base">Base:</label>
            <select name="automata.base">
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="form-field">
            <label for="automata.inputCells">Input cells:</label>
            <select name="automata.inputCells">
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="form-field">
            <label for="automata.ruleId">Rule ID:</label>
            <div>
              <input type="checkbox" name="app.randomRule" />
              <label for="app.randomRule">Random rule</label>
            </div>
            <input type="number" name="automata.ruleId" min="0" />
          </div>
        </div>
        <div class="settings-section">
          <h3>Display</h3>
          <div class="form-field">
            <label for="display.size">Size:</label>
            <input type="number" name="display.size" min="1" max="2160" />
          </div>
          <div class="form-field">
            <label for="display.zoom">Zoom:</label>
            <input type="number" name="display.zoom" min="1" max="100" />
          </div>
        </div>
        <div class="settings-section">
          <h3>Other</h3>
          <div class="form-field">
            <label for="app.inputStyle">Input style:</label>
            <select name="app.inputStyle"></select>
          </div>
          <div class="form-field form-field--inline">
            <input type="checkbox" name="app.enableScroll" />
            <label for="app.enableScroll">Enable scroll</label>
          </div>
        </div>
      </form>
    </section>

    <section id="footer" class="d-f m-t-4 p-3 f-justify-evenly f-wrap">
      <a
        class="text--small"
        href="https://en.wikipedia.org/wiki/Elementary_cellular_automaton"
      >
        WTF am I looking at?
      </a>
      <a
        class="text--small"
        href="https://github.com/ruslan-sh/cellular-automata"
        >GitHub</a
      >
    </section>
  </body>
</html>
